<!DOCTYPE html>
<html>
  <head>
    <title>AJAX EJS Example</title>
  </head>
  <body>
    <h1>Welcome to My Shop</h1>
    <button id="loadBtn">Load Products</button>
    <button action="signup" id="loadBtnsignup">Signup</button>

    <div id="productsContainer">
      <!-- Products will be loaded here -->
    </div>

    <script>
      document.getElementById("loadBtn").addEventListener("click", () => {
        fetch("/products")
          .then((res) => res.text())
          .then((html) => {
            document.getElementById("productsContainer").innerHTML = html;
          })
          .catch((err) => console.error(err));
      });
      document.getElementById("loadBtnsignup").addEventListener("click", () => {
        fetch("/signup")
          .then((res) => res.text())
          .then((html) => {
            document.getElementById("productsContainer").innerHTML = html;
          })
          .catch((err) => console.error(err));
      });
    </script>
  </body>
</html>
